In [ ]:
from functions.download_day import download_day
from functions.load_saved_fd4 import load_saved_fd4
from functions.scrape_aircraft_list import scrape_aircraft_list
from match_icao_model import match_icao_model

ModuleNotFoundError: No module named 'functions.match_icao_model'

In [12]:
# User Inputs:
start_time_str       = '2024-01-01T00:00:00Z'
stop_time_str        = '2024-01-10T00:00:01Z'
query_limit          = 30e4
send_notification    = True
make_plot            = False
output_dir           = "/scratch/omg28/Data/no_track2024"

In [9]:
# Download data from OpenSky history database
download_day(start_time_str, stop_time_str, query_limit, send_notification, make_plot, output_dir)

SELECT icao24, estdepartureairport, estarrivalairport FROM flights_data4
                            WHERE day = 1704067200
                            LIMIT 300000

/etc/timezone is deprecated on Debian, and no longer reliable. Ignoring.
FINISHED: : 100% [00:00, 130%/s]
DOWNLOAD: 83.9klines [00:00, 857klines/s]

Saved result_df to /scratch/omg28/Data/no_track2024/result_df_2024-01-01_300000.pkl
SELECT icao24, estdepartureairport, estarrivalairport FROM flights_data4
                            WHERE day = 1704153600
                            LIMIT 300000

FINISHED: : 100% [00:00, 122%/s]
DOWNLOAD: 101klines [00:00, 402klines/s]

Saved result_df to /scratch/omg28/Data/no_track2024/result_df_2024-01-02_300000.pkl
SELECT icao24, estdepartureairport, estarrivalairport FROM flights_data4
                            WHERE day = 1704240000
                            LIMIT 300000

FINISHED: : 100% [00:00, 124%/s]
DOWNLOAD: 104klines [00:00, 779klines/s]

Saved result_df to /scratch/omg28/Data/no_track2024/result_df_2024-01-03_300000.pkl
SELECT icao24, estdepartureairport, estarrivalairport FROM flights_data4
                            WHERE day = 1704326400
                            LIMIT 300000

FINISHED: : 100% [00:00, 127%/s]
DOWNLOAD: 105klines [00:00, 435klines/s]

Saved result_df to /scratch/omg28/Data/no_track2024/result_df_2024-01-04_300000.pkl
SELECT icao24, estdepartureairport, estarrivalairport FROM flights_data4
                            WHERE day = 1704412800
                            LIMIT 300000

FINISHED: : 100% [00:00, 112%/s]
DOWNLOAD: 110klines [00:00, 461klines/s]

Saved result_df to /scratch/omg28/Data/no_track2024/result_df_2024-01-05_300000.pkl
SELECT icao24, estdepartureairport, estarrivalairport FROM flights_data4
                            WHERE day = 1704499200
                            LIMIT 300000

FINISHED: : 100% [00:00, 141%/s]
DOWNLOAD: 91.9klines [00:00, 427klines/s]

Saved result_df to /scratch/omg28/Data/no_track2024/result_df_2024-01-06_300000.pkl
SELECT icao24, estdepartureairport, estarrivalairport FROM flights_data4
                            WHERE day = 1704585600
                            LIMIT 300000

FINISHED: : 100% [00:00, 119%/s]
DOWNLOAD: 92.3klines [00:00, 1.18Mlines/s]

Saved result_df to /scratch/omg28/Data/no_track2024/result_df_2024-01-07_300000.pkl
SELECT icao24, estdepartureairport, estarrivalairport FROM flights_data4
                            WHERE day = 1704672000
                            LIMIT 300000

FINISHED: : 100% [00:00, 117%/s]
DOWNLOAD: 98.6klines [00:00, 422klines/s]

Saved result_df to /scratch/omg28/Data/no_track2024/result_df_2024-01-08_300000.pkl
SELECT icao24, estdepartureairport, estarrivalairport FROM flights_data4
                            WHERE day = 1704758400
                            LIMIT 300000

FINISHED: : 100% [00:00, 123%/s]
DOWNLOAD: 87.4klines [00:00, 860klines/s]

Saved result_df to /scratch/omg28/Data/no_track2024/result_df_2024-01-09_300000.pkl
SELECT icao24, estdepartureairport, estarrivalairport FROM flights_data4
                            WHERE day = 1704844800
                            LIMIT 300000

FINISHED: : 100% [00:00, 114%/s]
DOWNLOAD: 98.1klines [00:00, 403klines/s]

Saved result_df to /scratch/omg28/Data/no_track2024/result_df_2024-01-10_300000.pkl

In [ ]:
loaded_day = load_saved_fd4(stop_time_str, output_dir, query_limit)

       icao24 estdepartureairport estarrivalairport
0      a105d2                KPHX              19AZ
1      a4322c                KORL              <NA>
2      a47d69                KLAX              <NA>
3      a3b124                KJFK              KORF
4      a3cf6d                KEWR              <NA>
...       ...                 ...               ...
48129  a327a1                KICT              KIAD
48130  a339b1                KLGA              KBOS
48131  a339b1                KBOS              KLGA
48132  a339b1                KMSP              KBOS
48133  a339b1                KMSP              KMSP

[98134 rows x 3 columns]